html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Silkscreen', cursive;
	background-color: black;
}

canvas {
	width: 800px !important;
	height: 800px !important;
	image-rendering: pixelated;
}

@font-face {
	font-family: 'Rainy Hearts';
	src: url('assets/font/rainyhearts.ttf');
}
button {
	font-family: 'Rainy Hearts';
}

#cnv {
	position: static;
}

#player-role {
	position: absolute;
	width: 100%;
	bottom: 20%;
	text-align: center;
	padding: 0;
	color: white;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
}


#game-rules {
	display:none;
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding: 0;
	color: white;
	font-size: 15px;
	font-family: 'Courier New', Courier, monospace;
}
