@font-face {
    font-family: 'Pixeloid Sans';
    src: url('./assets/PixeloidSans-Bold.woff2') format('woff2'),
        url('./assets/PixeloidSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixeloid Mono';
    src: url('./assets/PixeloidMono.woff2') format('woff2'),
        url('./assets/PixeloidMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pixeloid Sans';
    src: url('./assets/PixeloidSans.woff2') format('woff2'),
        url('./assets/PixeloidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

canvas {
    outline: 10px solid #492905;
}
